.main-chat
  .main-chat-group-info
    .main-chat-group-info__left-box
      %h2.main-chat-group-info__left-box__name 
        = @group.name
      %ul.main-chat-group-info__left-box__list 
        member :
        - @group.users.each do |user|
          %li.main-chat-group-info__left-box__list__member 
            = user.name
    .main-chat-group-info__right-box
      = link_to 'Edit', edit_group_path(current_user), class: "edition"

  .main-chat__message-list
    = render partial: 'message', collection: @messages
  .main-chat__message-form 
    .main-chat__message-form__box
      .main-chat__message-form__box__text
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main-chat__message-form__box__text__message', placeholder: 'type a message'
          = f.label :image, class: 'main-chat__message-form__box__text__message__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'main-chat__message-form__box__text__message__image__file'
          = f.submit 'Send', class: 'main-chat__message-form__box__send'