.side-bar
  .side-bar__user-name
    .side-bar__user-name__box
      .side-bar__user-name__box__left 
        = current_user.name
      .side-bar__user-name__box__right
        .side-bar__user-name__box__right-ul
        = link_to new_group_path do
          %li.side-bar__user-name__box__right-ul-li
            = link_to new_group_path(current_user), class:"edit" do
              = icon('fas', 'edit')
          %li.side-bar__user-name__box__right-ul-li
            = link_to edit_user_path(current_user), class:"new" do
              = icon('fas', 'cog')

  .side-bar__group-list 
    - current_user.groups.each do |group|
      .side-bar__group-list-box
        = link_to group_messages_path(group), class: "boxes" do
          .side-bar__group-list-box__top 
            = group.name
          .side-bar__group-list-box__bottom 
            = group.show_last_message
    